[Desktop Entry]
Encoding=UTF-8
Name=IDY
Comment=IDY P2P Cryptocurrency
Exec=IDY-qt %u
Terminal=false
Type=Application
Icon=IDY128
MimeType=x-scheme-handler/IDY;
Categories=Office;Finance;
Name[en_US]=IDY-qt.desktop
