[Desktop Entry]
Encoding=UTF-8
Name=idy
Comment=idy P2P Cryptocurrency
Exec=idy-qt %u
Terminal=false
Type=Application
Icon=idy128
MimeType=x-scheme-handler/idy;
Categories=Office;Finance;
Name[en_US]=idy-qt.desktop
