[Unit]
Description=idy's distributed currency daemon
After=network.target

[Service]
User=idy
Group=idy

Type=forking
PIDFile=/var/lib/idyd/idyd.pid

ExecStart=/usr/bin/idyd -daemon -pid=/var/lib/idyd/idyd.pid \
          -conf=/etc/idy/idy.conf -datadir=/var/lib/idyd

ExecStop=-/usr/bin/idy-cli -conf=/etc/idy/idy.conf \
         -datadir=/var/lib/idyd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
